@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}


:root{
    --cor-branca: white;

    --fonte_texto: font-family: 'Sriracha', cursive;;
    --fonte_titulo: font-family: 'Passion One', cursive;
}

/*Fontes:*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*Fontes*/

body{
    font-family: var(--fonte_texto);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte_titulo);
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

main{
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p{
    width: 400px;
    background-color: rgb(0, 0, 0, 0.253);
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    font-family: var(--fonte_titulo);
    text-align: center;
    padding: 10px;
}