/*Geral*/
@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor-branca: white;
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;

    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonteandroid: 'Android', sans-serif;
}
/*Geral*/
/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
font-family: 'Android';
src: url('idroid.otf') format('opentype');
font-weight: normal;
font-style: normal;
}
/*FONTES*/
/*Body - Corpo*/
body{
    font-family: var(--fonte0);
    background-color: #83E1AD;
    text-align: justify-all;
}
/*Body - Corpo*/
/*Header - Cabeça:*/
header > h1{
    font-family: var(--fonte1);
    font-size: 35px;
    text-align: center;
}
header > p{
    text-align: center;
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    min-height: 150px;
    padding-top: 40px;
} 
header > h1{
    text-shadow: 2px 2px 0px rgba(0,0,0, 0.466);
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
} 
header > p{
    text-shadow: 1px 0px 0px rgba(0,0,0, 0.466);
    font-family: var(--fonte0);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
/*Header - Cabeça:*/
/*Nav - Navegação*/
nav{
    height:33px;
    padding:5px;
    font-weight: 600;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}
nav > ul{
    list-style:none;
}
nav ul ul{
    position:relative;
}
nav > ul > li{
    float: left;
}   
nav a{
    float: left;
    padding:10px;
    text-decoration:none;
    color:white;
    font-weight: bold;
    transition-duration: 0.5s;
}  
nav a:hover{
    background-color: var(--cor3);
    color:var(--cor5);
    border-radius: 5px;
}
/*Nav - Navegação*/
/*Main - Conteúdo Principal*/
main{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--cor-branca);
    line-height: 1.2em;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.418);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}
main > picture > img{
    width: 100%;
    display: block;
    margin:auto;
}
/*MÍDIAS*/
main > article > iframe{
    margin: auto;
    display: block;
}
img.pequena{
    display: block;
    max-width: 330px;
    min-width: 270px;
    margin: auto;
}
aside.video{
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}
aside.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
/*MÍDIAS*/
/*Última DIV*/
main > article > div{
    margin: auto;
    width: auto;
    min-height: 400px;
    margin-top: 20px;
    background-color:var(--cor0);
    border-radius: 15px 15px;
    padding: 0px 6px 6px 6px;
}
main > article > div > h3{
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -6px 0px -6px;
    color: white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
main > article > div > ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
article > p > a, strong{
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    background-color:var(--cor1);
    padding: 2px 6px;
}
ul > li > a > abbr{
    color: black;
    text-decoration: none;
}
.hist{
    text-decoration: none;
    color: var(--cor4);
    font-weight: 700;
    width: 50px;
    background-color:var(--cor0);
}
/*Última DIV*/
main > article > aside > h1{
    font-family: var(--fonteandroid);
    color: var(--cor5);
    font-size: 1.6em;
}
main > article > aside > h2{
    font-family: var(--fonteandroid);
    font-size: 1.3em;
    text-indent: 7px;
    color: var(--cor4);
    background-image:linear-gradient(to right, var(--cor1), transparent);
}
/*Main - Conteúdo Principal*/
/*Footer - Rodapé*/
footer{
background-color: var(--cor4);
color: whitesmoke;
padding: 5px;
margin: 0px;
font-size: 1em;
}
footer > p{
    text-align: center;
}
footer > p > strong{
margin: 0px;
color: white;
background-color: var(--cor4);
}
/*Footer - Rodapé*/